* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
}

#calc {
    width: 400px;
    padding: .5em;
    background-color: #444444;
    color: rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: rgb(221, 221, 221);
}

#operations {
    text-align: right;
}

#previous-operation,
#current-operation {
    min-height: 1.6em;
    padding: 0.2em;
    overflow-wrap: break-word;
}

#previous-operation {
    color: rgb(192, 192, 192);
}

#current-operation {
    font-size: 3em;
    font-weight: 700;

}

#buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

#buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #9e9e9e;
    cursor: pointer;
}

#buttons-container .number {
    background-color: #d3d3d3;
}

#buttons-container button:hover {
    background-color: #ffffff;
    border-color: #999;
}

#buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #538fff;
}

#buttons-container #equal-btn:hover {
    background-color: #3f74d8f5;
}

